/*-------- font family Work sans------ */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* shared items */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* --------header starts-------- */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;

}

ul {
    display: flex;
    gap: 40px;
}

ul>li,
a {
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
}


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    margin-top: 20px;
    font-size: 1.1rem;
}

.btn-primary {
    padding: 20px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    margin-top: 32px;
    max-width: 180px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/*--------------- main section styles---------------- */

main {
    max-width: 1420px;
    margin: 0 auto;
}


/*------------- teams section start-------------------  */


.teams-container {
    display: flex;
    align-items: center;
    padding: 0 auto;
    margin-top: 80px;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.teams-content {
    padding: 50px;
    max-width: 500px;
    margin: 0 70px;
}

.quick-list {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.teams-features {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

















/* ----------responsive media queries------------*/


/* --------small device-------- */

@media screen and (max-width:576px) {
    header {
        padding: 5px;
    }

    ul {
        gap: 24px;
        margin-top: 20px;
    }

    .navbar {
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-image {
      
        grid-template-columns: repeat(1, 1fr) ;
    }
    .teams-content{
        padding: 20px;
    }
   
}

/*--------- medium device-------------- */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 5px;
    }

    ul {
        gap: 24px;
        margin-top: 20px;
    }

    .navbar {
        flex-direction: column;
    }
    .teams-image {
      
        grid-template-columns: repeat(1, 1fr) ;
    }
}